body {
    padding: 0px;
    margin: 0px;
}

.backgroundImage {
    background-color: #4B0C11;
    background-image: url("../images/maxresdefault.jpg");
    background-position: center center;   
    background-size: cover;
    width: 100%;
    height: 600px;
    position: relative;
}

.headContent {
    height: 100%;
    background-color: rgba(0,0,0,.4);
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.homeTitle {
    color: white;
    font-size: 70px;
    text-align: center;
    top: 48%;
    position: absolute;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
}

.homeButtons {
    color: white;
    font-size: 20px;
    text-align: center;
    position: absolute;
    bottom: 10px;
    width: 100%;
}

.pageContent {
    width: 100%;
}

.missionStatement {
    text-align: center;
    padding: 60px 5% 60px 5%;
    font-size: 22px;
}

.missionStatement h2 {
    font-weight: normal;
    margin: 0px;
    margin-bottom: 20px;
    font-size: 40px;
}

.demoProgram {
    text-align: center;
    padding: 60px 5% 60px 5%;
    font-size: 22px;
    background-color: #B09FAA;
}

.categoryButtons {
    text-align: center;
    margin: auto;
}

.category {
    display: inline-block;
    margin: 0px;
    border: 1px solid;
    font-size: 22px;
    padding: 0px;
    text-align: center;
    width: 150px;
}

.powerlifting {
    margin-left: 15%;
    margin-right: 15%;
}